{% extends "base.html" %}
{% block content %}
<p>Please login to continue.</p>

      {%if message %}
         <p class="error">{% if kind %}{{kind}}: {% endif%}{{ message }}</p>
      {% endif %}

      <form action="/session/login" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
         <label for="username">username</label>
         <input type="text" name="username" id="username" value="" />
         <label for="password">password</label>
         <input type="password" name="password" id="password" value="" />
         <p><input type="submit" value="Login"></p>
      </form>
{% endblock content %}
